#responses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ui.card {
  width: 30%;
}

#responses > .ui.card:first-child {
  margin-top: 1em;
}

#responses > .ui.card:last-child {
  margin-bottom: 1em;
}
